@charset "utf-8";
/* CSS Document */

/*
#wrapOverall
{
	background-color: #FF3;
	
	//position: relative;
	//width: 1000px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
*/

img.thumbnail
{
	position: relative;
	top:0px;
	left: 0px;	
	width: 86px;
	height: 124px;
	
	margin-left: 5px;
	margin-right: 5px;
} 

/*
.selected
{
	border:2px solid red;	
}
*/